@use "@/styles/utils/variables" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;

  @media (min-width: $breakpoints-phone) {
    grid-template-columns: repeat(22, 1fr);
  }
}
